<div class="jumbotron text-center">
    <h1 class="display-4">Listafish</h1>
    <p class="lead">Aquarium fish breeder and seller listings</p>

    <div class="mb-3">
        <%= link_to "Browse Listings", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div><%= link_to "Add a listing", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %></div>

</div>